# Android tools won't build this project without the 'res' directory...
# But, we shouldn't have any resources here since its a library project...
# And, Git won't allow us to check in an empty directory...
# So, ignore everything in this directory...
*
# Except this file
!.gitignore